body{
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px ;
}

.box{
    background-color: rgb(87, 87, 87);
    border: 2px solid black;
    position: relative;
}
@media screen and (max-width:768px )  {
    .column {
      width: 100%;
}
@media screen and (max-width:768px)  {
    .column {
      width: 100%;
}
@media screen and (max-width:992px) {
    .column {
      width: 100%;
}
  
